<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="C:/Users/eerhardt/.aspire/hives/pr-14664/packages" value="C:/Users/eerhardt/.aspire/hives/pr-14664/packages" />
    <add key="https://api.nuget.org/v3/index.json" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="C:/Users/eerhardt/.aspire/hives/pr-14664/packages">
      <package pattern="Aspire*" />
    </packageSource>
    <packageSource key="https://api.nuget.org/v3/index.json">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>